<br>
<br>

    <!-- Page Content -->
 <div class = "container">

    <div class="jumbotron">
        <div class="container">

            <h2><img src="http://i.imgur.com/TixqIxB.png" alt="" class="img-responsive" /></h2>
            <br>
                 <h4 align="justify">Idea2Business (i2b) is AWTAD’s newest platform for youth with creative ideas seeking to find out of the box solutions for the challenges facing Egypt or simply youth with a strong will and a set of specific expertise to help those ideators bring ideas to life.</h4> 

                 <h4 align="justify">I2b will make sure that all the youth will “Voice” their ideas through perfecting the art of pitching, “Build” the 
                    teams who will work with them to ideate and shape those ideas into viable businesses and link them with consultants
                    and enablers to help scale up ideas into real businesses so that they will be ready for the final “Challenge”.
                    AWTAD through it’s I2B program will make it happen…</h4>
                 <br>
                 <p><a class="btn btn-primary btn-lg" <%= link_to "Events Calendar", :controller => :events, :action => :index  %></a></p>
        </div>
    </div>

      <div class="jumbotron">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <h2><img src="http://i.imgur.com/Q0f0x2d.png" alt="" class="img-responsive" /></h2>
                    </div>

                    <div class="col-sm-8">
                        <address>
                        <br>  
                            <h4 align="justify">Addres: 19 street, 151,Maadi, Egypt</h4>
                            <h4 align="justify">Phone:&nbsp;&nbsp;&nbsp;202-25280213 </h4>
                            <h4 align="justify">Mobile:&nbsp;&nbsp;012-70073777</h4>
                            <h4 align="justify">Email:&nbsp;&nbsp;<a href="mailto:idea2b@awtad-egypt.org">idea2b@awtad-egypt.org</a>, <a href="mailto:i2b2@awtad-egypt.org">i2b2@awtad-egypt.org</a></h4>

                        <br>
                        <!-- Twitter follow button -->
                        <a href="https://twitter.com/awtadegypt" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @awtadegypt</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


                        <!-- Twitter tweet to button -->
                        <a href="https://twitter.com/intent/tweet?screen_name=awtadegypt" class="twitter-mention-button" data-size="large" data-dnt="true">Tweet to @awtadegypt</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


                        </address>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
