<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">All Users
                <hr>
            </h1>
        </div>
    </div>
    <!-- /.header -->

<table class="table table-striped table-hover ">
	<thead>
	    <tr>
	      <th>#</th>
	      <th>User Email</th>
	      <th>User Status</th>
	      <th>Approve user</th>
	    </tr>
	</thead>
	<tbody>
	 <% for user in @users do %>
	    <tr>
	      <td>-></td>
	      <td><%= user.email %></td>
	      <td><%= user.approved %></td>
	      <td><%= link_to "approve", approve_user_path(user.id) %> </td>
	    </tr>
	  <% end %>    
	</tbody>
</table> 

